<IfModule mod_headers.c>
  <FilesMatch "\.(html|css)$">
    Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
    Header set Pragma "no-cache"
    Header set Expires "0"
  </FilesMatch>
</IfModule>

FileETag None

RedirectMatch 301 ^/night/?$ /time/night/
RedirectMatch 301 ^/night/(.*)$ /time/night/$1
